main{
    z-index: 1;
}

body{
    color:rgb(150,150,150);
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0;
    overflow: hidden;

    font-family: "McLaren", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button{
    color:rgb(192,192,192);
    background-color: rgb(32,32,32);
    z-index: 2;
    font-family: "McLaren", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.passo{
    display: none;
}

.passo.ativo {
    display: block;
}


/* Raindrop style */
.raindrop {
    position: relative;
    top: -10px;
    width: 2px;
    height: 10px;
    background: rgba(47, 178, 221, 0.4);
    border-radius: 50%;
    animation: fall 1s ease-in infinite;
}

/* Falling animation */
@keyframes fall {
    to {
        transform: translateY(100vh); /*no. adding a '20vw' just breaks everything. do not do that.*/
    }
}